<%- include('header') -%>
    <div class="box" id="heading">
        <h1>
            <%= TaskType%>
        </h1>
    </div>

    <div class="box">

        <% for(var i=0; i<NewItem.length;i++) {%>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= NewItem[i] %>
                </p>
            </div>
            <% } %>

                <form action="/" method="post" class="item">
                    <input type="text" id="new_item" name="new_item" placeholder="new item" autocomplete="off"
                        autofocus>
                    <button type="submit" name="button" value=<%=TaskType%>>+</button>
                </form>
    </div>
    
<%- include('footer') -%> 